.grid-container {
  margin: 5% auto;
  /* background-color: rgb(81, 85, 92); */
  background-color: #8681ca;
}

.grid {
  white-space: pre;
  /* background-color: cyan; */
}

button {
  margin: 2px;
  /* color: green; */
}
